@use "../util/colors" as *;
@use "../util/fonts" as *;


.categories {
    padding: 70px 0;
}

.categories-items {
    margin: 40px 0 70px 0;

    .category-item {
        width: 170px;
        padding: 25px 0;
        text-align: center;
        border: 1px solid #0000004D;
        border-radius: 4px;

        .category-icon {
            i {
                font-size: 50px;
            }
        }

    }

    .category-item:hover {
        background: $light_red_color;
        transition: ease-in .1s;
        color: $light_color;
        border: none;

    }

    // .category-item:hover .icon i,
    // .category-item:hover .icon-text a {
    //     background: $light_red_color;
    //     // transition: ease-in .1s;
    //     color: $light_color;
    //     border: none;
    // }
}


// .owl-carousel-category {
//     .owl-item {
//         // max-width: 170px !important;
//     }
// }



// .category-item {
//     background: #f5f5f5;
//     /* normal background */
//     padding: 20px;
//     text-align: center;
//     border-radius: 8px;
//     transition: all 0.3s ease;
// }