@use "../util/colors" as *;
@use "../util/fonts" as *;


.contact-methods {
    padding: 80px 0 140px 0;

    .contact-info {
        box-shadow: 0px 1px 13px 0px #0000000D;
        background: $light_color;
        border-radius: 4px;
        padding: 40px 35px 50px 35px;


        .call-icon {
            display: flex;
            gap: 16px;
            align-items: center;
            margin-bottom: 24px;

            .icon {
                width: 40px;
                height: 40px;
                background: $light_red_color;
                display: flex;
                align-items: center;
                justify-content: center;
                color: $light_color;
                border-radius: 50%;

            }
        }


        .call-sub-title {
            font-size: $font_size_md_small;
            margin-bottom: 16px;
        }

    }


    .contact-massage {

        box-shadow: 0px 1px 13px 0px #0000000D;
        background: $light_color;
        border-radius: 4px;
        padding: 40px 35px 50px 35px;


        .form-control {
            padding: 13px 16px;
            border: none;
        }


        .form-control::placeholder {
            font-size: $font_size_md_small;
        }
    }
}



@media (max-width:576px) {
    .contact-massage {
        margin-top: 48px;
    }
}