@use "../util/colors" as *;
@use "../util/fonts" as *;



// .nav-right {
.dropdown {
    .dropdown-account-btn {
        justify-content: center;
        align-items: center;
        display: flex;
        border-radius: 50%;
        // background: #F5F5F5;
        height: 32px;
        width: 32px;

        &:hover {
            background: $light_red_color;
            color: $light_color;
        }
    }

    .account-dropdown-menu {
        width: 244px;
        position: absolute;
        padding: 18px 12px 10px 20px;
        top: 35px;
        left: -210px;
        border-radius: 4px;
        backdrop-filter: blur(60px);
        background: #0000000A;
        border: none;

        .account-info {

            .account-item {
                margin-bottom: 13px;

                a {
                    color: $light_color;

                    &:hover {
                        color: $light_red_color;
                    }
                }

                .account-title {
                    color: $light_color;
                    font-size: 14px;

                    &:hover {
                        color: $light_red_color;
                    }
                }



            }
        }


        // }
    }



}

// }