@use "../util/colors" as *;
@use "../util/fonts" as *;


.breadcramb {
    margin-top: 80px;
}

.pricing-cart {
    padding: 80px 0;
    overflow: scroll;

    .price-cart-title {
        padding: 24px 40px;
        background: $light_color;
        box-shadow: 0px 1px 13px 0px #0000000D;
        border-radius: 4px;
        margin-bottom: 40px;
        display: grid;
        grid-template-columns: 3fr 2fr 2fr 1fr;
        // justify-content: space-between;
        align-items: center;
        // .cart-item-title {
        //     max-width: 70px;
        // }

        .cart-img {
            width: 54px;
            height: 54px;

            img {
                object-fit: cover;

            }

        }


        .cancel-badge {
            width: 12px;
            height: 12px;
            top: 10px;
            left: 7px;
            background: $light_color;
            color: $light_red_color;
        }



        .spinner {
            display: inline-flex;
            align-items: center;
        }

        .spinner input {
            width: 50px;
            text-align: center;
            margin: 0 5px;
        }
    }


    @media (max-width:768px) {
        .pricing {
            width: 696px;
        }


    }
}



.product-cart-info {
    padding: 0 0 140px 0;
}

.coupon-card-btn {
    .coupon-code-input {
        padding: 16px 24px;
        border: 1px solid #000000;
        border-radius: 4px;
    }
}

.cart-total-cost {
    padding: 32px 24px;
    border: 1.5px solid #000000;
    border-radius: 4px;

    .cart-total-cost-title {
        font-size: $text_md;
        color: $dark_color;
        margin-bottom: 8px;
    }

    .cart-total-cost-info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 16px 0;
    }
}










@media (max-width:576px) {
    .coupon-card-btn {
        display: flex;
        gap: 16px;
        flex-direction: column;
        margin-top: 15px;

        .Product-btn {
            margin: 0;
        }
    }

    .cart-total-cost {
        margin-top: 30px;
    }
}