@use "../util/colors" as *;
@use "../util/fonts" as *;

.sign-up {
    padding: 60px 0 140px 0;
}

.input-placeholder {
    margin-top: 40px;
    border: none;
    outline: none;
    border-bottom: 1px solid gray;
}


.btn-account {
    padding: 16px;
    color: $light_color;
    border: none;
    margin-top: 40px;

}

.btn-account:hover {
    background: #b02a37;
}

.btn-signup {
    padding: 16px;
    color: $dark_color;
    border-radius: 4px;
    background: $light_color;
    border: 1px solid #00000066;
}


.btn-signup:hover {
    background: #f5f5f5;
}

.login-text {
    margin-top: 16px;
    text-align: center;
}

.Login-btn {
    text-decoration: underline;
}



.account {
    max-width: 371px;
}


@media (max-width:1200px) {
    .account {
        margin: auto;
    }
}