$primary_color: #2B59FF;
$light_red_color: #DB4444;
$dark_color: #000;
$light_color: #fff;
$warning_color: #FFAD33;
$yellow_color: #EEFF61;
$info_color: #00FF66;
$secondery_color: #F5F5F5;
$color_gray: #FAFAFA;