$text_title: 42px;
$text_small: 12px;
$text_md: 20px;
$font_xl: 48px;
$font_h2: 36px;
$font_size_lg: 32px;
$font_size_md: 24px;
$font_size_lg_small: 16px;
$font_size_md_small: 14px;
$font_size_small: 12px;